<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    {% block heading %} {% endblock heading %}
    <style>
        .textone{
            font-family: 'Dancing Script', cursive;
        }
        div{
            height:600px;
            width: 600px;
            display: flex;
            flex-wrap: wrap;
        }
        .image{
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    {% block content %} {% endblock content %}
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
</body>
</html>
